<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:replace="/layout/head :: head" />
</head>
<body>
    <div class="main-container">
        <header>
            <div class="row">
                <div class="col-sm-5">
                    <h1>List of customers</h1>
                </div>
                <div class="col-sm-7">
                    <a class="btn btn-outline-light create-modal"><i class="fa fa-plus-square-o" aria-hidden="true"></i> <span>Add New Customer</span></a>
                    <a href="/transfers" class="btn btn-outline-light"><i class="fa fa-history" aria-hidden="true"></i> <span>Transfer money Information</span></a>
                </div>
            </div>
        </header>

        <div class="box-body">

            <input type="hidden" id="currentRow"/>

            <table id="tbListCustomers" class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Balance</th>
                        <th>Province</th>
                        <th>District</th>
                        <th>Ward</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <div class="footer"></div>

    <th:block th:replace="/customer/modal_create :: modal_create" />
    <th:block th:replace="/customer/modal_deposit :: modal_deposit" />
<!--    <th:block th:replace="/customer/modal-transfer :: modal-transfer" />-->
<!--    <th:block th:replace="/customer/modal-update :: modal-update" />-->
<!--    <th:block th:replace="/customer/modal-withdraw :: modal-withdraw" />-->
    <th:block th:replace="/customer/footer :: footer" />
    <th:block th:replace="/layout/script :: script" />

    <script>
        let locationRegion = new LocationRegion();
        let customer = new Customer();
        let deposit = new Deposit();
        let customerId = null;

        $('.create-modal').on('click', () => {
            $('#modalCreateCustomer').modal('show');
        })

        function loadCustomers() {
            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": "http://localhost:8080/api/customers",
            })
            .done((data) => {
                $.each(data, (i, item) => {
                    let str = `
                        <tr id="tr_${item.id}">
                            <td><span class="select-tab unselected"></span></td>
                            <td>${item.id}</td>
                            <td>${item.fullName}</td>
                            <td>${item.email}</td>
                            <td>${item.phone}</td>
                            <td>${item.balance}</td>
                            <td>${item.locationRegion.provinceName}</td>
                            <td>${item.locationRegion.districtName}</td>
                            <td>${item.locationRegion.wardName}</td>
                            <td>${item.locationRegion.address}</td>
                        </tr>
                    `;

                    $('#tbListCustomers tbody').prepend(str)

                    handleShowFooter();
                    unbinAll();
                })
            })
        }

        function drawProvinces() {
            return $.ajax({
                headers: {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/",
            })
                .done((data) => {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.province_id}">${item.province_name}</option>`;

                        $('#province').append(str);
                    })
                })
                .fail((jqxHR) => {
                    App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                    console.log(jqxHR);                })
        }

        function drawDistricts (provinceId) {
            return $.ajax({
                headers: {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/district/" + provinceId,
            })
            .done((data) => {
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    $('#district').append(str)
                })
            })
        }

        function drawWards (districtId) {
            return $.ajax({
                headers: {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/ward/" + districtId,
            })
                .done((data) => {
                    $.each(data.results, (i, item) => {
                        let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                        $('#ward').append(str)
                    })
                })
        }

        drawProvinces().then(() =>{
            let provinceId = $('#province').val();
            drawDistricts(provinceId).then(() => {
                let districtId = $('#district').val();
                drawWards(districtId);
            })
        })

        $('#province').on('change', function (){
            let provinceId = $('#province').val();
            drawDistricts(provinceId).then(() => {
                let districtId = $('#district').val();
                drawWards(districtId);
            })
        })

        function unbinAll() {
            $('.edit').off;
            $('.suspended').off;
            $('.deposit').off;
            $('.withdraw').off;
            $('.transfer').off;
        }

        $('#btnCreateCustomer').on('click', () => {
            locationRegion.provinceId = $('#province').val();
            locationRegion.provinceName = $('#province :selected').text();
            locationRegion.districtId = $('#district').val();
            locationRegion.districtName = $('#district :selected').text();
            locationRegion.wardId = $('#ward').val();
            locationRegion.wardName = $('#ward :selected').text();
            locationRegion.address = $('#address').val();

            customer.fullName = $('#fullName').val();
            customer.email = $('#email').val();
            customer.phone = $('#phone').val();
            customer.locationRegion = locationRegion;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": "http://localhost:8080/api/customers/create",
                "data": JSON.stringify(customer)
            })
            .done((item) => {
                let str = `
                    <tr id="tr_${item.id}">
                        <td><span class="select-tab unselected"></span></td>
                        <td>${item.id}</td>
                        <td>${item.fullName}</td>
                        <td>${item.email}</td>
                        <td>${item.phone}</td>
                        <td>${item.balance}</td>
                        <td>${item.locationRegion.provinceName}</td>
                        <td>${item.locationRegion.districtName}</td>
                        <td>${item.locationRegion.wardName}</td>
                        <td>${item.locationRegion.address}</td>
                    </tr>
                `;

                $('#tbListCustomers tbody').prepend(str);
                $('#modalCreateCustomer').modal('hide');
                App.SweetAleart.showSuccessAlert("Created A New Customer Successful");

                handleShowFooter();
                unbinAll();
            })
            .fail((jqxHR) => {
                App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                console.log(jqxHR);
            })
        })

        $('#btnDepositMoney').on('click', () => {
            deposit.customerId = customer.id;
            deposit.transactionAmount = $('#transactionAmountDep').val();

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": "http://localhost:8080/api/customers/deposit",
                "data": JSON.stringify(deposit)
            })
            .done((item) => {
                let str = `
                    <tr id="tr_${item.id}">
                        <td><span class="select-tab unselected"></span></td>
                        <td>${item.id}</td>
                        <td>${item.fullName}</td>
                        <td>${item.email}</td>
                        <td>${item.phone}</td>
                        <td>${item.balance}</td>
                        <td>${item.locationRegion.provinceName}</td>
                        <td>${item.locationRegion.districtName}</td>
                        <td>${item.locationRegion.wardName}</td>
                        <td>${item.locationRegion.address}</td>
                    </tr>
                `;

                $('#tr_' + item.id).replaceWith(str);
                $('#modalDeposit').modal('hide');
                App.SweetAleart.showSuccessAlert("Deposit Successful");

                handleShowFooter();
                unbinAll();
            })
            .fail((jqxHR) => {
                App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message);
                console.log(jqxHR);
            })
        })

        function handleGroupShowModal() {
            handleShowDeposit();
        }

        function handleShowFooter() {
            $("#tbListCustomers tbody tr").on('click', function (){
                customerId = $(this).attr('id').replace('tr_', '');
                console.log(customerId)
                let tempFooter = $.validator.format($.trim($('#tempFooter').val().toString()));

                $('.footer').html(tempFooter);

                handleGroupShowModal()
            });
        }

        function handleShowDeposit() {
            $('button.deposit').on('click', () => {
                $.ajax({
                    "headers": {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    "type": "GET",
                    "url": "http://localhost:8080/api/customers/" + customerId
                })
                .done((data) => {
                    customer = data;
                    $('#customerIdDep').val(customer.id);
                    $('#fullNameDep').val(customer.fullName);
                    $('#balanceDep').val(customer.balance);

                    $('#modalDeposit').modal('show')

                })
                .fail((jqxHR) => {
                    // App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                    console.log(jqxHR);
                })
            })
        }

        loadCustomers();

    </script>

</body>
</html>