<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:replace="/layout/head :: head" />
</head>
<body>
    <div class="main-container">
        <header>
            <div class="row">
                <div class="col-sm-5">
                    <h1>List of customers</h1>
                </div>
                <div class="col-sm-7">
                    <a class="btn btn-outline-light create-modal"><i class="fa fa-plus-square-o" aria-hidden="true"></i> <span>Add New Customer</span></a>
                    <a href="/transfers" class="btn btn-outline-light"><i class="fa fa-history" aria-hidden="true"></i> <span>Transfer money Information</span></a>
                </div>
            </div>
        </header>

        <div class="box-body">

            <input type="hidden" id="currentRow"/>

            <table id="tbListCustomers" class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Balance</th>
                        <th>Province</th>
                        <th>District</th>
                        <th>Ward</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <div class="footer"></div>

    <th:block th:replace="/customer/modal_create :: modal_create" />
    <th:block th:replace="/customer/modal_deposit :: modal_deposit" />
    <th:block th:replace="/customer/modal_transfer :: modal_transfer" />
    <th:block th:replace="/customer/modal_update :: modal_update" />
    <th:block th:replace="/customer/modal_withdraw :: modal_withdraw" />
    <th:block th:replace="/customer/footer :: footer" />
    <th:block th:replace="/layout/script :: script" />

    <script>
        let locationRegion = new LocationRegion();
        let customer = new Customer();
        let deposit = new Deposit();
        let withdraw = new Withdraw();
        // let transfer = new Transfer();
        // let sender = new Sender();
        // let recipient = new Recipient();
        let customerId = null;

        function loadCustomers() {
            return $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "GET",
                "url": "http://localhost:8080/api/customers",
            })
            .done((data) => {
                $.each(data, (i, item) => {
                    let str = `
                        <tr id="tr_${item.id}">
                            <td><span class="select-tab unselected"></span></td>
                            <td>${item.id}</td>
                            <td>${item.fullName}</td>
                            <td>${item.email}</td>
                            <td>${item.phone}</td>
                            <td>${item.balance}</td>
                            <td>${item.locationRegion.provinceName}</td>
                            <td>${item.locationRegion.districtName}</td>
                            <td>${item.locationRegion.wardName}</td>
                            <td>${item.locationRegion.address}</td>
                        </tr>
                    `;

                    $('#tbListCustomers tbody').prepend(str)
                })

                unbinAll();
            })
        }

        function formatNumber() {
            $("#tbListCustomers tbody tr").on("click", function () {
                customerId = $(this).attr('id').replace('tr_', '');

                // $("table tr td").find(".select-tab.selected").removeClass("selected").addClass("unselected");
                // $(this).parent().find(".select-tab").removeClass("unselected").addClass("selected");

                $('#tbCustomer tbody tr td span.select-tab').removeClass("selected").addClass("unselected");
                $(`#tbCustomer tbody tr#tr_${customerId} td span.select-tab`).removeClass("unselected").addClass("selected");

                let tempFooter = $.validator.format($.trim($('#tempFooter').val().toString()));

                $('.footer').html(tempFooter);

                handleShowDepositModal();
                handleShowUpdateModal();
                handleShowWithdrawModal();
                handleShowSuspendedConfirm();
            });
        }

        function drawProvinces() {
            return $.ajax({
                headers: {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/",
            })
            .done((data) => {
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.province_id}">${item.province_name}</option>`;

                    $('#province').append(str);
                    $('#provinceUp').append(str);
                })
            })
            .fail((jqxHR) => {
                App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                console.log(jqxHR);
            })
        }

        function drawDistricts (provinceId) {
            return $.ajax({
                headers: {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/district/" + provinceId,
            })
            .done((data) => {
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    $('#district').append(str)
                    $('#districtUp').append(str)
                })
            })
        }

        function drawWards (districtId) {
            return $.ajax({
                headers: {
                    accept: "application/json",
                    "content-type": "application/json"
                },
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/ward/" + districtId,
            })
            .done((data) => {
                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                    $('#ward').append(str)
                    $('#wardUp').append(str)
                })
            })
        }

        function provinceChange() {
            return $.ajax({
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/district/" + locationRegion.provinceId
            }).done((data) => {
                $('#district').empty();
                $('#districtUp').empty();

                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.district_id}">${item.district_name}</option>`;

                    $('#district').append(str);
                    $('#districtUp').append(str);
                });
            }).fail(function () {
                App.SweetAleart.showErrorAlert("Loading of districts is fail");
            });
        }

        function districtChange() {
            $.ajax({
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/ward/" + locationRegion.districtId
            }).done((data) => {
                $('#ward').empty();
                $('#wardUp').empty();

                $.each(data.results, (i, item) => {
                    let str = `<option value="${item.ward_id}">${item.ward_name}</option>`;

                    $('#ward').append(str);
                    $('#wardUp').append(str);
                });
            }).fail(function () {
                App.SweetAleart.showErrorAlert("Loading of wards is fail");
            });
        }

        function unbinAll() {
            $('.edit').off;
            $('.suspended').off;
            $('.deposit').off;
            $('.withdraw').off;
            $('.transfer').off;
        }

        function doCreate() {
            locationRegion.provinceId = $('#province').val();
            locationRegion.provinceName = $('#province :selected').text();
            locationRegion.districtId = $('#district').val();
            locationRegion.districtName = $('#district :selected').text();
            locationRegion.wardId = $('#ward').val();
            locationRegion.wardName = $('#ward :selected').text();
            locationRegion.address = $('#address').val();

            customer.fullName = $('#fullName').val();
            customer.email = $('#email').val();
            customer.phone = $('#phone').val();
            customer.locationRegion = locationRegion;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": "http://localhost:8080/api/customers/create",
                "data": JSON.stringify(customer)
            })
            .done((item) => {
                let str = `
                    <tr id="tr_${item.id}">
                        <td><span class="select-tab unselected"></span></td>
                        <td>${item.id}</td>
                        <td>${item.fullName}</td>
                        <td>${item.email}</td>
                        <td>${item.phone}</td>
                        <td>${item.balance}</td>
                        <td>${item.locationRegion.provinceName}</td>
                        <td>${item.locationRegion.districtName}</td>
                        <td>${item.locationRegion.wardName}</td>
                        <td>${item.locationRegion.address}</td>
                    </tr>
                `;

                $('#tbListCustomers tbody').prepend(str);
                $('#modalCreateCustomer').modal('hide');
                App.SweetAleart.showSuccessAlert("Created A New Customer Successful");

                formatNumber();
                unbinAll();
            })
            .fail((jqxHR) => {
                App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                console.log(jqxHR);
            })
        }

        function doUpdate() {
            locationRegion.provinceId = $('#provinceUp').val();
            locationRegion.provinceName = $('#provinceUp :selected').text();
            locationRegion.districtId = $('#districtUp').val();
            locationRegion.districtName = $('#districtUp :selected').text();
            locationRegion.wardId = $('#wardUp').val();
            locationRegion.wardName = $('#wardUp :selected').text();
            locationRegion.address = $('#addressUp').val();

            customer.fullName = $('#fullNameUp').val();
            customer.email = $('#emailUp').val();
            customer.phone = $('#phoneUp').val();
            customer.locationRegion = locationRegion;

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": "http://localhost:8080/api/customers/edit",
                "data": JSON.stringify(customer)
            })
            .done((item) => {
                let str = `
                <tr id="tr_${item.id}">
                    <td><span class="select-tab unselected"></span></td>
                    <td>${item.id}</td>
                    <td>${item.fullName}</td>
                    <td>${item.email}</td>
                    <td>${item.phone}</td>
                    <td>${item.balance}</td>
                    <td>${item.locationRegion.provinceName}</td>
                    <td>${item.locationRegion.districtName}</td>
                    <td>${item.locationRegion.wardName}</td>
                    <td>${item.locationRegion.address}</td>
                </tr>
            `;
                let currentRow = $('#tr_' + item.id);
                currentRow.replaceWith(str);

                $('#modalUpdateCustomer').modal('hide');
                App.SweetAleart.showSuccessAlert("Updated A Customer Successful");

                formatNumber();
                unbinAll();
            })
            .fail((jqxHR) => {
                App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                console.log(jqxHR);
            })
        }

        function doDeposit() {
            deposit.customerId = customer.id;
            deposit.transactionAmount = $('#transactionAmountDep').val();

            $.ajax({
                "headers": {
                    "accept": "application/json",
                    "content-type": "application/json"
                },
                "type": "POST",
                "url": "http://localhost:8080/api/customers/deposit",
                "data": JSON.stringify(deposit)
            })
            .done((item) => {
                let str = `
                    <tr id="tr_${item.id}">
                        <td><span class="select-tab unselected"></span></td>
                        <td>${item.id}</td>
                        <td>${item.fullName}</td>
                        <td>${item.email}</td>
                        <td>${item.phone}</td>
                        <td>${item.balance}</td>
                        <td>${item.locationRegion.provinceName}</td>
                        <td>${item.locationRegion.districtName}</td>
                        <td>${item.locationRegion.wardName}</td>
                        <td>${item.locationRegion.address}</td>
                    </tr>
                `;

                $('#tr_' + item.id).replaceWith(str);
                $('#modalDeposit').modal('hide');
                App.SweetAleart.showSuccessAlert("Deposit Successful");

                // handleShowFooter();
                // unbinAll();
            })
            .fail((jqxHR) => {
                App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message);
                console.log(jqxHR);
            })
        }

        function doWithdraw() {
            withdraw.customerId = customer.id;
            withdraw.transactionAmount = $('#transactionAmountWd').val();

            console.log("Balance's customer: "+ customer.balance);
            console.log("TransactionAmount: "+ withdraw.transactionAmount);

            // if (customer.balance < withdraw.transwactionAmount) {
                $.ajax({
                    "headers": {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    "type": "POST",
                    "url": "http://localhost:8080/api/customers/withdraw",
                    "data": JSON.stringify(withdraw)
                })
                .done((item) => {
                    let str = `
                        <tr id="tr_${item.id}">
                            <td><span class="select-tab unselected"></span></td>
                            <td>${item.id}</td>
                            <td>${item.fullName}</td>
                            <td>${item.email}</td>
                            <td>${item.phone}</td>
                            <td>${item.balance}</td>
                            <td>${item.locationRegion.provinceName}</td>
                            <td>${item.locationRegion.districtName}</td>
                            <td>${item.locationRegion.wardName}</td>
                            <td>${item.locationRegion.address}</td>
                        </tr>
                    `;

                    $('#tr_' + item.id).replaceWith(str);
                    $('#modalWithdraw').modal('hide');
                    App.SweetAleart.showSuccessAlert("Withdraw Successful");

                    // handleShowFooter();
                    // unbinAll();
                })
                .fail((jqxHR) => {
                    App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message);
                    console.log(jqxHR);
                })
            // }else {
            //     App.SweetAleart.showErrorAlert("Balance not enough");
            //
            // }
        }

        function doSuspended() {
            $.ajax({
                "type": "POST",
                "headers": {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                "url": "http://localhost:8080/api/customers/suspensed/" + customerId

            }).done( () => {
                App.SweetAleart.showSuccessAlert("Suspended a customer successful");
                $("#tr_" + customerId).remove();

            }).fail( () => {
                App.SweetAleart.showErrorAlert("Suspended failed");
            });
        }

        function hanldeShowCreateModal() {
            $('#modalCreateCustomer').modal('show');
        }

        function handleShowUpdateModal() {
            $('.footer button.edit').on('click', () => {
                $.ajax({
                    "headers": {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    "type": "GET",
                    "url": "http://localhost:8080/api/customers/" + customerId
                })
                .done((data) => {
                    customer = data;
                    locationRegion = data.locationRegion;

                    $('#fullNameUp').val(customer.fullName);
                    $('#emailUp').val(customer.email);
                    $('#phoneUp').val(customer.phone);

                    $('#provinceUp').val(locationRegion.provinceId);
                    $('#districtUp').empty();

                    drawDistricts(locationRegion.provinceId).then(function () {
                        $('#districtUp').val(locationRegion.districtId);
                        $('#wardUp').empty();

                        drawWards(locationRegion.districtId).then(function (){
                            $('#wardUp').val(locationRegion.wardId);
                        });
                    });

                    $('#modalUpdateCustomer').modal('show')
                })
                .fail((jqxHR) => {
                    // App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                    console.log(jqxHR);
                })
            })
        }

        function handleShowDepositModal() {
            $('.footer button.deposit').on('click', () => {
                $.ajax({
                    "headers": {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    "type": "GET",
                    "url": "http://localhost:8080/api/customers/" + customerId
                })
                .done((data) => {
                    customer = data;
                    $('#customerIdDep').val(customer.id);
                    $('#fullNameDep').val(customer.fullName);
                    $('#balanceDep').val(customer.balance);

                    $('#modalDeposit').modal('show')

                })
                .fail((jqxHR) => {
                    // App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                    console.log(jqxHR);
                })
            })

        }

        function handleShowWithdrawModal() {
            $('.footer button.withdraw').on('click', () => {
                $.ajax({
                    "headers": {
                        "accept": "application/json",
                        "content-type": "application/json"
                    },
                    "type": "GET",
                    "url": "http://localhost:8080/api/customers/" + customerId
                })
                .done((data) => {
                    customer = data;
                    $('#customerIdWd').val(customer.id);
                    $('#fullNameWd').val(customer.fullName);
                    $('#balanceWd').val(customer.balance);

                    $('#modalWithdraw').modal('show')

                })
                .fail((jqxHR) => {
                    // App.SweetAleart.showErrorAlert(jqxHR.responseJSON.message)
                    console.log(jqxHR);
                })
            })
        }

        function handleShowSuspendedConfirm() {
            $('.footer button.suspended').on('click', () => {
                App.SweetAleart.showSuspendedConfirmAlert()
                .then((result) => {
                    if (result.isConfirmed) {
                        doSuspended();
                    }
                })
            })
        }

        function initializeControlEvent() {
            $('#province').on('change', function () {
                locationRegion.provinceId = $('#province').val();

                provinceChange().done(function () {
                    locationRegion.districtId = $('#district').prop("selectedIndex", 0).val();
                    districtChange();
                })
            })

            $('#district').on('change', function () {
                locationRegion.districtId = $('#district').val();
                districtChange();
            })

            $('#provinceUp').on('change', function () {
                locationRegion.provinceId = $('#provinceUp').val();

                provinceChange().done(function () {
                    locationRegion.districtId = $('#districtUp').prop("selectedIndex", 0).val();
                    districtChange();
                })
            })

            $('#districtUp').on('change', function () {
                locationRegion.districtId = $('#districtUp').val();
                districtChange();
            })

            $('.create-modal').on('click', () => {
                hanldeShowCreateModal();
            })

            // $('.footer button.edit').on('click', () => {
            //     handleShowUpdateModal();
            // })

            // $('.footer button.deposit').on('click', () => {
            //     deposit.customerId = customerId;
            //     handleShowDepositModal();
            // })

            // $('.footer button.withdraw').on('click', () => {
            //     withdraw.customerId = customerId;
            //     handleShowWithdrawModal();
            // })

            $('#btnCreateCustomer').on('click', () => {
                $('#frmCreateCustomer').submit();
            })

            $('#btnUpdateCustomer').on('click', () => {
                $('#frmUpdateCustomer').submit();
            })

            $('#btnDepositMoney').on('click', () => {
                $('#frmDeposit').submit();
            })

            $('#btnWithdrawMoney').on('click', () => {
                $('#frmWithdraw').submit();
            })

        }

        $(function () {
            loadCustomers().then(function (){
                formatNumber()
            });


            drawProvinces().then(function (){
                let provinceId = $('#province').prop("selectedIndex", 0).val();

                if (provinceId != null) {
                    drawDistricts(provinceId).then(function (){
                        let districtId = $('#district').prop("selectedIndex", 0).val();

                        if (districtId != null){
                            drawWards(districtId);
                        }
                    })
                }
            });

            initializeControlEvent();
        });


    </script>

</body>
</html>